<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dose.description %>
</p>

<p>
  <strong>Ingreditent:</strong>
  <%= @dose.ingreditent %>
</p>

<p>
  <strong>Cocktail:</strong>
  <%= @dose.cocktail %>
</p>

<%= link_to 'Edit', edit_dose_path(@dose) %> |
<%= link_to 'Back', doses_path %>
